# Ignore file named `Ra226_ch000.txt`
Ra226_ch000.txt
# Ignore file named `Mn56_Day3_2detectors_ch000.txt`
Mn56_Day3_2detectors_ch000.txt
# Ignore file named `Ra226_2detectors_ch000.txt`
Ra226_2detectors_ch000.txt
# Ignore file named `Ra226_2detectors_ch002.txt`
Ra226_2detectors_ch002.txt
